doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title KARIBU GROCERIES LIMITED
    link(rel='stylesheet' href='/css/shared.css')
  body
    header
      div.navbar
        h1.logo KARIBU GROCERIES LIMITED
        nav
          a(href='/login') Login
          a(href='/signup') Sign Up

    main.hero
      div.hero-text
        h2 Freshness Delivered Daily, Just for You
        p Discover a wide variety of quality groceries at affordable prices.
        div.buttons
          a.cta-button(href='/login') Log In
          a.cta-button.secondary(href='/signup') Sign Up

      //- div.hero-img
      //-   img(src='/img/background.jpg' alt='Fresh Grocery Illustration')

    footer
      p &copy; 2025 Karibu Groceries Limited. All rights reserved.
